<nav class="nav navbar-light justify-content-end bg-white">
    <a class="navbar-brand mr-auto" href="#">
        <img src="./img/logo.png" height="40">
    </a>
    <a class="nav-link" href="./home">Home</a>
    <a class="nav-link" href="./home#about">About</a>
    <a class="nav-link" href="./search">Find Rides</a>
    <a class="nav-link" href="./auth">Sign In</a>
</nav>