<nav class="nav navbar-light justify-content-end bg-white">
    <a class="navbar-brand mr-auto" href="#">
        <img src="img/logo.png" height="40">
    </a>
    <a class="nav-link" href="./home.html">Home</a>
    <a class="nav-link" href="./home.html#about">About</a>
    <a class="nav-link" href="./auth.html">Sign In</a>
</nav>