<div class="row base-width" style="height:calc(100% - 57px)">
    <div class="col vertical-col h-100">
        <div class="jumbotron h-100 bg-white" style="margin:0px;padding-top:2rem">
            <div>
                <ul class="nav justify-content-center" style="border-bottom: none">
                    <li class="nav-item">
                        <a class="nav-link active display-4 active clickable" id="ongoing-btn">Ongoing</a>
                    </li>
                    <li class="display-4" style="line-height: 4.5rem">/</li>
                    <li class="nav-item">
                        <a class="nav-link display-4 clickable" id="accepted-btn">Accepted</a>
                    </li>
                    <li class="display-4" style="line-height: 4.5rem">/</li>
                    <li class="nav-item">
                        <a class="nav-link display-4 clickable" id="bidding-btn">Bidding</a>
                    </li>
                </ul>
            </div>
            <hr class="my-4" />
            <div class="none mt-4 text-center" id="accepted-display">
                <div class="display-7" id="no-accepted-display">No accepted rides.</div>
            </div>
            <div class="none mt-4 text-center" id="bidding-display">
                <div class="display-7" id="no-bidding-display">No bidding rides.</div>
            </div>
            <div id="ongoing-display" class="mt-4 text-center">
                <div class="display-7" id="no-ongoing-display">No ongoing rides.</div>
                <div id="ongoing-card" class="w-100 h-100 none">
                    <div class="w-100" id="ad-map" style="display:block;">
                    </div>
                    <div class="row mt-4 flex h-100" style="margin-left:0px;">
                        <div class="col h-100" id="ad-desc">
                        </div>
                        <div class="col">
                            <ul class="list-group mb-4 mt-2 w-75 mx-auto">
                                <li class="list-group-item flex">
                                    <div>
                                        <span class="bg-white list-icon fas fa-user-tie input-group-text"></span>
                                    </div>
                                    <div style="line-height:1.25em">
                                        <span id="ad-driver-name" class="display-8"></span> &nbsp; <span id="ad-driver-rating"
                                            class="display-8"></span> <span class="fas fa-star bg-white"
                                            style="border:none;"></span>
                                    </div>
                                </li>
                                <li class="list-group-item flex" id="car-item">
                                    <div>
                                        <span class="fas fa-car bg-white list-icon input-group-text"></span>
                                    </div>
                                    <div>
                                        <span class="display-8" style="line-height:1.25em" id="ad-car"></span>
                                    </div>
                                </li>
                            </ul>
                            {{#if driver}}
                            <button role="button" class="mt-4 mx-auto btn btn-primary btn-block w-75" id="complete-btn">Complete
                                Ride</button>
                            {{/if}}
                            <div id="rate-box" class="mt-4 none mx-auto w-75">
                                <div>How was the ride?</div>
                                <div class="mx-auto" style="display:inline-block;">
                                    <select id="rate-ad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                </div>
                                <button role="button" class="btn btn-primary w-50 mt-2 btn-block mx-auto" id="rate-btn">Rate</button>
                            </div>
                            <div class="display-7 mt-4 none mx-auto w-75" id="finish-rating">Ride complete.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="http://localhost:3000/js/barrating.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.runtime.min.js"></script>
<script src="http://localhost:3000/js/ad.template.js"></script>
<script src="http://localhost:3000/js/ad_details.template.js"></script>
<script src="http://localhost:3000/js/active_rides.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMap" async
    defer></script>