<div class="row base-width" style="height:calc(100% - 57px)">
    <div class="col vertical-col h-100 px-3" style="padding-bottom: 0px">
        <img id="ad-map" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x350&maptype=roadmap&markers=color:red%7Clabel:To%7C/to_coords/&markers=color:green%7Clabel:From%7C/from_coords/&key={{google_key}}" class="w-100"></img>
        <div class="w-100" id="ad-desc">
        </div>
    </div>
    <div class="col vertical-col h-100 px-3 pt-4">
        <div class="w-100 price-display">
            <div class="display-7">Current price</div>
            <span class="display-3" id="curr-price">-</span>
        </div>
        <div id="ad-status" class="price-display w-100 mt-2 mb-4">
            -
        </div>
        <ul class="list-group mb-4 mt-2 w-75 mx-auto">
            <li class="list-group-item flex">
                <div>
                    <span class="bg-white list-icon fas fa-user-tie input-group-text"></span>
                </div>
                <div style="line-height:1.25em">
                    <span id="ad-driver-name" class="display-8"></span> <span id="ad-driver-rating"
                        class="display-8"></span> <span class="fas fa-star bg-white" style="border:none;"></span> <span
                        id="ad-driver-rides" class="display-8"></span>
                </div>
            </li>
            <li class="list-group-item flex">
                <div>
                    <span class="fas fa-car bg-white list-icon input-group-text"></span>
                </div>
                <div>
                    <span class="display-8" style="line-height:1.25em" id="ad-car"></span>
                </div>
            </li>
        </ul>

        {{#if driver}}
            <button id="accept-btn" type="button" class="w-75 mt-4 mx-auto btn btn-block btn-primary none">Accept Bid</button>
        {{else}}
        <form id="bid-form" class="mt-4 w-75 mx-auto" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="display-7" for="ad-num-passengers">Passengers</label>
                    <input type="number" name="numPassengers" class="form-control" id="ad-num-pass" value="1" min="1">
                    <div class="invalid-feedback">
                        Please enter your number of passengers.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="display-7" for="ad-bid-price">Bid</label>
                    <input type="number" name="bidPrice" step='0.01' class="form-control" id="ad-bid-price">
                    <div class="invalid-feedback">
                        Please enter a price above the current bid by at least $0.01
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button id="submit-bid" type="submit" class="btn btn-block btn-primary">Submit Bid</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.runtime.min.js"></script>
<script src="http://localhost:3000/js/ad_details.template.js"></script>
<script src="http://localhost:3000/js/ad_bid.js"></script>