<div class="row mt-4" style="height: 85%">
    <div id="auth-splash" class="col h-100"></div>
    <div class="col h-100" style="min-width: 500px">
        <div id="sign-in">
            <h1 class="display-5 text-center" style="margin-top:15%">
                Ride or Drive
            </h1>
            <form id="form-si" class="auth-form w-75 mx-auto needs-validation" novalidate>
                <div class="form-group row">
                    <label for="user-si">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="user"
                        required />
                    <div class="invalid-feedback">
                        Please enter an username.
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password-si">Password</label>
                    <input type="password" class="form-control" name="password"
                        placeholder="password" required />
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>

                <div role="group" class="row mt-4">
                    <button id="submit-si" type="submit" class="btn btn-block btn-primary">
                        Sign In
                    </button>
                    <button id="si-to-reg" type="button" class="btn btn-block btn-outline-secondary">
                        Register
                    </button>
                </div>
            </form>
        </div>
        <div id="register" class="h-100">
            <h1 class="display-5 text-center" style="margin-top:5%">
                Register
            </h1>
            <form id="form-reg" class="auth-form w-75 mx-auto needs-validation" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="fn-reg">First Name</label>
                        <input type="text" class="form-control" name="fname" placeholder="john" required />
                        <div class="invalid-feedback">
                            Please enter a first name.
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="ln-reg">Last Name</label>
                        <input type="text" class="form-control" name="lname" placeholder="doe" required />
                        <div class="invalid-feedback">
                            Please enter a last name.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-3">
                        <label for="email-reg">Email</label>
                        <input type="email" class="form-control" id="email-reg" name="email"
                            placeholder="jdoe1234@email.com" required />
                        <div class="invalid-feedback">
                            Please enter an email.
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="user-reg">Username</label>
                        <input type="text" class="form-control" id="user-reg" name="username" placeholder="jdoe1234"
                            required />
                        <div id="user-text" class="invalid-feedback">
                            Please choose an username.
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="password-reg">Password</label>
                        <input type="password" class="form-control" name="password" id="password-reg"
                            placeholder="******" required />
                        <div class="invalid-feedback">
                            Please choose a password.
                        </div>
                    </div>
                </div>
                <div class="w-100" id="reg-but-box">
                    <button type="submit" class="half-but mt-4 btn btn-primary mx-auto" id="submit-reg">
                        Register
                    </button>
                    <button id="reg-to-si" type="button" class="half-but mt-2 btn btn-outline-secondary mx-auto">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/client_auth.js"></script>