<div class="container-fluid h-100">
    {{> nav}}
    <div class="row mt-4" style="height: 85%">
        <div id="auth-splash" class="col h-100"></div>
        <div class="col h-100">
            <div id="sign-in">
                <h1 class="display-5 text-center" style="margin-top:15%">
                    Ride or Drive
                </h1>
                <form id="form-si" class="auth-form w-75 mx-auto needs-validation" novalidate>
                    <div class="form-group">
                        <label for="email-si">Email address</label>
                        <input type="email" class="form-control" id="email-input" name="email" placeholder="email" required />
                        <div class="invalid-feedback">
                            Please enter an email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-si">Password</label>
                        <input type="password" class="form-control" id="password-input" name="password" placeholder="password"
                            required />
                        <div class="invalid-feedback">
                            Please enter a password.
                        </div>
                    </div>

                    <div role="group">
                        <button id="submit-si" type="submit" class="btn btn-primary w-25">
                            Sign In
                        </button>
                        <button id="si-to-reg" type="button" class="btn btn-link">
                            Register
                        </button>
                    </div>
                </form>
            </div>
            <div id="register" class="h-100">
                <h1 class="display-5 text-center" style="margin-top:5%">
                    Register
                </h1>
                <form id="form-reg" class="auth-form w-75 mx-auto needs-validation" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="fn-reg">First Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="john"
                                required />
                            <div class="invalid-feedback">
                                Please enter a first name.
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="ln-reg">Last Name</label>
                            <input type="text" class="form-control" name="lname" placeholder="doe"
                                required />
                            <div class="invalid-feedback">
                                Please enter a last name.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-3">
                            <label for="email-reg">Email</label>
                            <input type="email" class="form-control" id="email-reg" name="email"
                                placeholder="jdoe1234@email.com" required />
                            <div class="invalid-feedback">
                                Please enter an email.
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <label for="user-reg">Username</label>
                            <input type="text" class="form-control" id="user-reg" name="username" placeholder="jdoe1234"
                                required />
                            <div id="user-text" class="invalid-feedback">
                                Please choose an username.
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <label for="password-reg">Password</label>
                            <input type="password" class="form-control" name="password" id="password-reg" placeholder="******"
                                required />
                            <div class="invalid-feedback">
                                Please choose a password.
                            </div>
                        </div>
                    </div>

                    <div class="mt-4" role="group">
                        <button type="submit" class="btn btn-primary w-25" id="submit-reg">
                            Register
                        </button>
                        <button id="reg-to-si" type="button" class="btn btn-link">
                            Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/client_auth.js"></script>