<div id="main-splash" class="w-100">
    <div class="jumbotron bg-transparent h-100">
        <div class="container w-75 h-100">
            <h1 class="display-5">Where do you want to go?</h1>
            <input class="form-control w-75 mx-auto mt-4" type="text" />
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-white">
    <div id="about" class="container w-75">
        <h1 class="display-4 text-center">Ride / Pool / Save</h1>
        <hr class="my-4" />
        <p class="lead">
            Our mission is to get you to where ever you want to be. Our bidding system makes sure
            that you can get the rides you want at the cheapest cost of the market. If you need a
            more urgent ride you can pay more. This benefits both drivers and riders in the end,
            as they both get what they want.
        </p>
        <h3>Ride</h3>
        <p class="lead">
            Ride with us and experience what it means to really travel. We have drivers going
            everywhere around Singapore and they will make your journey a breeze. All you
            have to do is sign up and start bidding!
        </p>
        <h3>Drive</h3>
        <p class="lead">
            Our drivers get the best benefits of being able to go where they need to
            while simultaneously earning money. Isn't that just what you wanted?
            You can make money while going to work and even on the way back from work.
            Just sign up and register your car to start making that dough!
        </p>
    </div>
</div>