<div class="row" style="height:calc(100% - 57px)">
    <div class="mx-auto col-6 vertical-col">
        <button id="view-creates" type="button" class="btn btn-link">View Rides</button>    
        <h1 class="display-5 text-center" style="margin: 5% 0">Make a Ride</h1>
        <form id="form-make" class="w-75 auth-form mx-auto needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="from-mr">From</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="fas fa-map-marker-alt input-group-text"></span>
                        </span>
                        <input type="text" class="form-control" id="from-mr" name="fromAddress" required />
                        <div class="invalid-feedback">
                            Please enter a from location.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="to-mr">Destination</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-flag-checkered"></span>
                        </span>
                        <input type="text" class="form-control" id="to-mr" name="toAddress" required />
                        <div class="invalid-feedback">
                            Please enter a destination.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="date-mr">Time of Departure</label>
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text far fa-calendar-alt"></span>
                        </span>
                        <input type='text' id='date-mr' name="time" class="form-control" required />
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#date-mr').flatpickr({
                                enableTime: true,
                                dateFormat: "Y-m-d H:i",
                                altInput: true,
                                altFormat: "F j, Y h:i K",
                                minDate: "today"
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="form-row"><div class="form-group col-md-12">
                    <label for="price-mr">Starting Price</label>
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-dollar-sign"></span>
                        </span>
                        <input type="number" class="form-control" name="minBidPrice" id="price-mr">
                    </div>
                </div></div>
            <div class="w-100 vc-align">
                <button id="submit-mr" type="submit" class="half-but w-50 mx-auto btn mt-4 btn-primary">
                    Create
                </button>
            </div>
        </form>
    </div>
    <div class="col-6 vertical-col">
        <div id="make-map" class="h-100 w-100"></div>
    </div>
</div>
<script src="js/make.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_key}}&libraries=places&callback=initMapAndAutocomplete" async defer></script>