<div class="row mx-auto base-width" style="height:calc(100% - 57px)">
    <div class="w-100" id="search-box" >
        <form id="form-search" class="auth-form mx-auto needs-validation" novalidate>
            <div class="form-row pt-3" style="justify-content: center">
                <div class="form-group col-md-2 col-md-offset-1">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="fas fa-map-marker-alt input-group-text"></span>
                        </span>
                        <input type="text" class="form-control" id="from-fr" placeholder="From" name="fromAddress" required />
                    </div>
                    <span class="search-clear far fa-times-circle"></span>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-flag-checkered"></span>
                        </span>
                        <input type="text" class="form-control" id="to-fr" placeholder="Destination" name="toAddress"
                            required />
                    </div>
                    <span class="search-clear far fa-times-circle"></span>
                </div>
                <div class="form-group col-md-2">
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text far fa-calendar-alt"></span>
                        </span>
                        <input type='text' id='date-fr' name="departureTime" placeholder="Time" class="form-control"/>
                    </div>
                    <span class="search-clear far fa-times-circle"></span>
                </div>
                <div class="form-group col-md-2">
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-dollar-sign"></span>
                        </span>
                        <input type="number" name="maxPrice" class="form-control" placeholder="Max Price" id="price-fr">
                    </div>
                    <span class="search-clear far fa-times-circle"></span>
                </div>
                <div role="group" class="col-md-2 mb-3">
                    <button id="submit-fr" type="submit" class="btn btn-block btn-primary">
                        Search
                    </button>
                </div>
            </div>
        </form>  
    </div>
    <div class="col vertical-col" id="search-results">
    </div>
    <div id="search-map" class="col vertical-col">map here</div>
</div>
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete" --}}
        {{!-- async defer></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.runtime.min.js"></script>
<script src="js/ad.template.js"></script>
<script src="js/search.js"></script>