<div class="row" style="height:90%">
    <div class="col h-100" id="search-col">
        <div id="search-box" class="w-100 mx-auto">
            <form id="form-search" class="auth-form w-75 mx-auto needs-validation" novalidate>
                <div class="form-group form-row">
                    <label for="from-fr">From Destination</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="fas fa-map-marker-alt input-group-text"></span>
                        </span>
                        <input type="text" class="form-control" id="from-fr" name="fromAddress" required />
                    </div>
                </div>
                <div class="form-group form-row">
                    <label for="to-fr">To Destination</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-flag-checkered"></span>
                        </span>
                        <input type="text" class="form-control" id="to-fr" name="toAddress"
                            required />
                    </div>
                </div>
                <div class="form-row form-group">
                    <label for="date-fr">Date of Departure</label>
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text far fa-calendar-alt"></span>
                        </span>
                        <input type='text' id='date-fr' name="departureTime" placeholder="-" class="form-control"/>
                    </div>
                </div>
                <div class="form-row form-group">
                    <label for="price-fr">Max Price</label>
                    <div class='input-group'>
                        <span class="input-group-prepend">
                            <span class="input-group-text fas fa-dollar-sign"></span>
                        </span>
                        <input type="number" name="maxPrice" placeholder="-" class="form-control" id="price-fr">
                    </div>
                </div>
                <div role="group" class="form-row">
                    <button id="submit-fr" type="submit" class="btn btn-block btn-primary">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col h-100" id="search-results">
        <div id="search-map">
            Map HERE
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.runtime.min.js"></script>
<script src="js/ad.template.js"></script>
<script src="js/search.js"></script>