/********* GENERAL *********/

.nav {
    align-content: center;
    border-bottom: 0.05rem black solid;
    min-width: 485px;
}

.navbar-nav > .nav-item > .nav-link, #top-nav > .navbar-brand {
    line-height: 40px;
}

.navbar-nav > .nav-item > .nav-link {
    color: black;
}

.navbar-nav > .nav-item {
    margin: 0 5px 0 0;
}

.nav-item > .nav-link:hover {
    filter: drop-shadow(0 0 0.5rem #000);
}

.outline-shadow {
    filter: drop-shadow(0 0 0.1rem #000);
}

.no-border {
    border: 0;
    box-shadow: none;
}

.navbar-toggler.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.custom-toggler {
    border: none;
}

.input-group-text {
    line-height: 1.5em;
}

.display-5 {
    font-weight:300;
    font-size:2.5rem
}

.base-width {
    min-width: 485px;
}

.col, #form-si, #form-reg {
    padding: 0 0 15px 0;
}

.none, .driver-reg-2, .vc-align.driver-reg-2 {
    display: none;
}

/********* HOME *********/
#main-splash {
    margin-top: 30px;
    background-image: url("../img/main-splash-res.jpg");
    height: 85%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

#main-splash > .container > h1{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 80px;
    font-weight: bold;
}

/********* AUTH *********/
#register-sel {
    display: none;
    /* overflow-y: auto; */
    align-items: center;
}

#reg-splash {
    background-image: url("http://localhost:3000/img/reg-splash.jpg");
}

.half-splash {
    min-height: 450px;
    min-width: 450px;
    filter: drop-shadow(0 0 0.5rem #000);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#auth-splash {
    background-image: url("http://localhost:3000/img/signin-splash.jpeg");
}

#form-si {
    margin-top: 7%;
}

#form-reg {
    margin-top: 5%;
}

.vc-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.half-but {
    width:50%!important;
    min-width: 400px;
}

.clickable:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.25rem #000);
}

#reg-to-si {
    position: absolute;
    bottom: 5px;
    left: 20px;
}

#incorrect-creds {
    margin-left: -15px;
    color: #dc3545;
    text-align: center;

}

/* SEARCH */
.vertical-col {
    min-width: 485px;
    display: flex;
    flex-direction: column;
}

.flatpickr-input.form-control {
    background-color: #fff;
}

.search-clear {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    display: none;
}

#search-col, #search-results {
    height: calc(100% - 87px);
}

#search-results {
   padding: 15px;
   overflow-y: auto;
   min-width: 60%;
}

#bid-display {
    position: absolute;
}

#no-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-search {
    margin-bottom: -8.9px;
}

#search-box {
    border-bottom: 0.05rem solid #d3d3d3;
    /* background-color: currentColor; */
}

.search-clear {
    display: none;
}

.input-group-prepend > span {
    width: 45px;
}

.price-display, .date-display {
    display: block;
    text-align: center;
}

.to-place, .from-place {
    background-color: #fff;
    border: none;
}

.to-place {
    color: #228B22;
}

.from-place {
    color: #800000;
}

.ad-result {
    margin-bottom: 10px;
}

/* MAKE */
#view-creates {
    position: absolute;
    bottom: 1%;
    right: 1%;
}