/********* GENERAL *********/

.nav {
    height: 50px;
    align-content: center;
    border-bottom: 0.05rem black solid;
}

.nav > .nav-link, .nav > .navbar-brand {
    color: black;
    line-height: 50px;
}

.display-5 {
    font-weight:300;
    font-size:2.5rem
}

/********* HOME *********/
#main-splash {
    background-image: url("../img/main-splash-res.jpg");
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

#main-splash > .container > h1{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 80px;
    font-weight: bold;
}

/********* AUTH *********/
#register {
    display: none;
}

#auth-splash {
    margin-left: 30px;
    filter: drop-shadow(0 0 0.5rem #000);
    background-image: url("../img/signin-splash.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.auth-form {
    margin-top: 7%;
}